DATABASE_URL=postgresql://postgres:your_password@localhost:5432/uvip
SECRET_KEY=randomly_generated_secret_key ex:a91f2e2d83c72b109e3a51f7b198129fhtuyisdew43htjt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120